#content {
    background-color: rgb(248,248,248);
    border: 1px solid #aaa;
    padding:1em;
    margin:1em;
}

a, a:visited { text-decoration: none; color: #33e }

li { padding-bottom:0.5em; }

.mono {
    margin-left:0.5em;margin-right:0.5em; font-family:monospace; background-color:#efefef; padding:2px;
}

[data-loader]
{
    margin: 8px;
}
[data-loader='circle-side']
{
    position: relative;

    width: 25px;
    height: 25px;
    animation: circle infinite .75s linear;
    border: 2px solid #fff;
    border-top-color: rgba(0, 0, 0, .2);
    border-right-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    border-radius: 100%;
}
@keyframes circle
{
    0%
    {
        -webkit-transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
    }
}



/* Pop */
@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
/*    box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
/*    -moz-osx-font-smoothing: grayscale;*/


                                    -webkit-animation-name: hvr-pop;
                                    animation-name: hvr-pop;
                                    -webkit-animation-duration: 0.8s;
                                    animation-duration: 0.8s;
                                    -webkit-animation-timing-function: linear;
                                    animation-timing-function: linear;
                                    -webkit-animation-iteration-count: infinite;
                                    animation-iteration-count: infinite;

}
/*
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
                                    -webkit-animation-name: hvr-pop;
                                    animation-name: hvr-pop;
                                    -webkit-animation-duration: 0.3s;
                                    animation-duration: 0.3s;
                                    -webkit-animation-timing-function: linear;
                                    animation-timing-function: linear;
                                    -webkit-animation-iteration-count: infinite;
                                    animation-iteration-count: infinite;
                                }
*/